@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components{
  .HeaderButton {
    @apply hover:font-bold hover:scale-105 p-3 h-10 w-fit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
  }

  .DisableButton {
    @apply p-3 h-10 w-fit text-white bg-blue-700 font-medium rounded-lg text-lg dark:bg-blue-600 text-black bg-gray-400 dark:bg-blue-500 cursor-not-allowed;
  }
  
  .center {
    @apply flex items-center justify-center;
  }
}

.leaflet-container {
  height: 90vh;
}
