@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components{
  .zoomButton {
    @apply hover:font-bold hover:scale-105 h-8 w-16 border border-black bg-white rounded-lg mb-2 text-lg;
  }
  .HeaderButton {
    @apply hover:font-bold hover:scale-105 h-10 w-24 border-2 border-red-500 bg-white rounded-lg text-lg;
  }
  .center {
    @apply flex items-center justify-center;
  }
}

.leaflet-container {
  height: 90vh;
}
